.widget-error {
  background: #f9f2f4;
  color: #d44950;
}

.widget-panel {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  width: 300px;
  margin: 16px;
  display: inline-block;
}

.widget-panel .panel-footer {
  font-size: 12px;
  line-height: 1.8em;
}

.widget-names {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.widget-realname {
  font-weight: bold;
}

.widget-row {
  display: block;
}

.widget-row.ephemeral {
  opacity: 0.2;
  pointer-events: none;
}

.widget-username {
  font-weight: normal;
  color: #666;
}

.widget-heading {
  font-weight: normal;
  font-size: 17px;
  color: #666;
  margin-top: 0;
}

.widget-avatar {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.widget-avatar.placeholder {
  background: #eee;
}

.widget-realname.placeholder {
  height: 1em;
  width: 100px;
  background: #eee;
  display: inline-block;
  border-radius: 2px;
}

.widget-profile.placeholder {
  height: 26px;
  width: 70px;
  background: #eee;
  display: inline-block;
  border-radius: 3px;
}

.widget-username.placeholder {
  height: 1em;
  width: 50px;
  background: #eee;
  display: inline-block;
  border-radius: 2px;
}

.widget-close {
  margin: 0;
  line-height: 14px;
  font-weight: normal;
  outline: none;
}

.widget-refresh {
  color: #000;
  font-size: 0.7em;
}

.widget-refresh a {
  color: #000;
  cursor: pointer;
}
